body{
    font-family: Arial;
    background:#f4f4f4;
    padding:20px;
}

.container{
    width:80%;
    margin:auto;
    background:white;
    padding:20px;
    border-radius:10px;
}

input, textarea{
    width:100%;
    padding:10px;
    margin-top:10px;
}

button{
    padding:10px 20px;
    background:#ff4d6d;
    color:white;
    border:none;
    border-radius:5px;
    cursor:pointer;
}

table{
    width:100%;
    margin-top:20px;
    border-collapse: collapse;
}

table, th, td{
    border:1px solid #ddd;
}

th, td{
    padding:10px;
}